/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* General layout & background image */

* {
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

html {
    background: url(../images/dna-strain.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #21385a;
}

/* Game section */

#game-section {
    background-color: #021025;
    opacity: 0.9;
    height: 600px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
}

/* Burger icon */
/* code for burger icon taken from https://www.w3schools.com/howto/howto_css_menu_icon.asp */

.burger {
    position:absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}

.burger-line-1,
.burger-line-2,
.burger-line-3 {
    width: 35px;
    height: 5px;
    background-color: #fbfeff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .burger-line-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-7px, 8px);
}

.change .burger-line-2 {
    opacity: 0;
}

.change .burger-line-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}