/* Google Fonts https://fonts.google.com/specimen/Dongle */

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* General layout & background image */

* {
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    color: #fbfeff;
    text-align: center;
    letter-spacing: 2px;
}

/* Background image source: https://unsplash.com/photos/Mm1VIPqd0OA */

html {
    background: url(../images/dna-strain.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #21385a;
}

.hide {
    display: none;
}

/* Game wrapper */

#game-wrapper {
    background-color: #021025;
    opacity: 0.98;
    height: 600px;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
}

/* Burger icon */
/* code for burger icon taken from https://www.w3schools.com/howto/howto_css_menu_icon.asp */

.burger {
    position:absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}

.burger-line-1,
.burger-line-2,
.burger-line-3 {
    width: 35px;
    height: 5px;
    background-color: #fbfeff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .burger-line-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-7px, 8px);
}

.change .burger-line-2 {
    opacity: 0;
}

.change .burger-line-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Home welcome page */

#welcome-title {
    font-size: 250%;
    margin-top: 75px;
}

#welcome-text {
    font-size: 200%;
    margin: 75px 0 125px;
}

button {
    background-color: #708298;
    width: 200px;
    height: 75px;
    font-size: 200%;
    border: none;
    border-radius: 5px;
    line-height: 25px;
}

button:hover {
    background-color: #fbfeff;
    color: #021025;
    cursor: pointer;
}

/* Quiz game section */

#home-icon {
    position: absolute;
    font-size: 200%;
    top: 3%;
    left: 2%;
    cursor: pointer;
}

#question-count {
    position: absolute;
    font-size: 200%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    position: absolute;
    font-size: 200%;
    top: 1%;
    left: 85%;
}

#question-text {
    margin: 75px;
    font-size: 200%;
    line-height: 25px;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

/* Display grid source: https://www.w3schools.com/css/css_grid.asp */

#answer-options {
    display: grid;
    grid-gap: 75px 200px;
    grid-template-columns: auto auto;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
}

#next-question {
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
}

/* Menu section */

.menu button {
    display: block;
    margin: 50px auto;
}

.menu button:nth-child(1) {
    margin-top: 135px;
}

/* Difficulty selection section */

.difficulty button {
    display: block;
    margin: 50px auto;
}

.difficulty h1 {
    margin-top: 75px;
    font-size: 200%;
}

/* How to play section */

.how-to h1 {
    margin-top: 75px;
    font-size: 200%;
}

.how-to p {
    margin: 25px auto;
    max-width: 450px;
    font-size: 150%;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: left;
}
